# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment / secrets
.env
.env.*

# Airflow logs
logs/

# Jupyter
.ipynb_checkpoints/

# PostgreSQL / database files
*.sqlite
*.sqlite3
*.db

# Generated live prediction files
data/live/

# Large trained model files
models/*.pkl

# OS files
.DS_Store
Thumbs.db
